# 🐍 Виртуальное окружение
.venv/

# 🗃️ База данных и временные файлы проекта
django_deploy_project/var/
*.sqlite3

# 🔐 Переменные окружения
.env
*.env

# ⚙️ Кэш и временные файлы Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 📋 Логи
*.log

# 💻 Конфигурации IDE и редакторов
.vscode/
.idea/

*.iml
*.sublime-project
*.sublime-workspace

# 🐳 Docker
docker-compose.override.yml
