body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table thead th {
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.table thead th:hover {
  background-color: #3750DD; /* синий цвет */
  color: white;
}

.table {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden; /* чтобы скругление работало */
}

.table tbody tr:hover {
  background-color: #f0f4ff;
  cursor: pointer;
}


